.account {
    background-color: darken(white,6);
}

.account-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
}

.account-title {
    font-family: 'Merriweather', Georgia, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 2.3em;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 30px 30px 70px 30px;
    font-weight: 500;
    text-align: center;

    @include media($tablet) {
        font-size: 2.1em;
    }

    @include media($mobile) {
        font-size: 1.8em;
    }
}

.acsection {
    margin-bottom: 30px;

    &:last-of-type {
        margin: 0;
    }

    &__header {
        line-height: 52px;
        height: 52px;
        color: white;
        background: $orange;
        padding: 0 30px;

        margin: 0;
        font-size: 0.9em;
        text-transform: uppercase;
        letter-spacing: 0.07em;
        white-space: nowrap;
    }

    &__content {
        padding: 30px;
        background: white;
    }

    &__item {
        margin-bottom: 30px;
    }

    &__title {
        color: $light-gray;
        margin: 0 0 12px 0;
        font-size: 0.9em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.07em;
        white-space: nowrap;
    }

    &__info {
        letter-spacing: 0.05em;
        margin: 0;
        line-height: 1.5em;
    }


    &__input {
        width: 100%;
        border: 1px solid $gray-border;
        padding: 10px 15px;
        outline: 0;
        @include transition(all 250ms);

        &:focus {
            border-color: $orange;
            box-shadow: 0px 0px 0px 1px $orange;
        }
    }
}

.account-popup {
    width: 440px;

    @include media($mobile) {
        width: 340px;
    }

    @include media($mobile-sm) {
        width: 280px;
    }

    .btn {
        display: block;
    }
    
    p {
        line-height: 1.5em;
    }

    a strong {
        color: $orange;
    }

    &--terms {
        width: 700px;

        @include media($tablet) {
            width: 480px;
        } 

        @media screen and (max-width: 500px) {
            width: 380px;
        }

        @include media($mobile) {
            width: 340px;
        }

        @include media($mobile-sm) {
            width: 280px;
        }
    }
}