.category {
    position: relative;

    &__bg {
        width: 100%;
        height: 650px;
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        opacity: 0.3;
        z-index: 0;

        @include media($laptop-height) {
            height: 550px;
        }

        @include media($tablet) {
            height: 500px;
        }

        @include media($mobile) {
            display: none;
        }
    }

    &__heading {
        padding-top: 400px;
        text-align: center;
        position: relative;
        z-index: 1;

        @include media($laptop-height) {
            padding-top: 250px !important;
        }

        @include media($desktop-lg) {
            padding-top: 350px;
        }

        @include media($desktop-sm) {
            padding-top: 300px;
        }

        @include media($tablet) {
            padding-top: 250px;
        }

        @include media($mobile) {
            padding-top: 130px !important;
        }
    }

    &__count {
        color: $light-gray;
        font-size: 1.1em;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin: 0 0 10px 0;
    }

    &__title {
        font-family: 'Merriweather', Georgia, sans-serif;
        -webkit-font-smoothing: subpixel-antialiased;
        font-size: 2.5em;
        letter-spacing: 0.02em;
        margin: 0;

        @include media($tablet) {
            font-size: 2.3em;
        }

        @include media($mobile) {
            font-size: 2em;
        }
    }

    &__content {
        margin-top: 60px;
    }
}