.btn {
    display: inline-block;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.075em;
    outline: 0;
    @include transition(all 250ms);

    &--sm {
        height: 32px;
        line-height: 32px;
        padding: 0 15px;
        font-size: 0.8em;
    }

    &--md {
        height: 42px;
        line-height: 42px;
        padding: 0 20px;
        font-size: 0.9em;
    }

    &--lg {
        height: 48px;
        line-height: 48px;
        padding: 0 20px;
        font-size: 0.9em;
    }

    &--xl {
        height: 58px;
        line-height: 58px;
        padding: 0 38px;
        font-size: 1.2em;
    }

    &--main {
        color: white;
        background-color: $orange;

        &:hover, &:focus {
            background-color: darken($orange,10);
        }
    }

    &--transparent {
        color: white;
        background-color: rgba(0,0,0,0.1);

        &:hover, &:focus {
            background-color: rgba(0,0,0,0.3);
        }
    }

    &--inverted {
        color: white;
        border: 2px solid white;

        &:hover, &:focus {
            color: $orange;
            background-color: white;
        }
    }

    &--warning {
        color: white;
        background-color: #F54623;

        &:hover, &:focus {
            background-color: darken(#F54623,30);
        }
    }

    &--alt {
        color: $dark-gray;
        border: 1px solid $gray-border;
        background: transparent;

        &:hover, &:focus {
            color: white;
            border-color: $dark-gray;
            background-color: $dark-gray;
        }
    }

    .play {
        width: 15px;
        height: 48px;
        display: inline-block;
        margin-right: 12px;

        &:before {
            content: ' ';
            display: inline-block;
            @include triangle(15px 11px, white transparent, right);
            position: relative;
            top: 2px;
        }   
    }
}
