.footer {
    width: 100%;
    padding: 125px 45px 0 45px;
    z-index: 5;

    &__content {
        border-top: 1px solid $gray-border;
        padding: 30px 0;
        @include clearfix;
    }

    &__left {
        float: left;

        a, button {
            display: block;
            font-size: 0.9em;
            line-height: 1.7em;
            color: $light-gray;
            border: 0;
            background: transparent;
            padding: 0;
            outline: 0;
            @include transition(all 150ms);

            &:hover {
                color: $dark-gray;
            }
        }
    }

    &__right {
        float: right;
        text-align: right;
    }

    &__logo {
        width: 164px;
        height: 21px;
        display: inline-block;
        background: url(../img/header-logo.svg) no-repeat;
        background-size: 164px 21px;
        position: relative;
    }

    &__thanks {
        font-size: 0.8em;
        color: $light-gray;
        margin: 3px 0 0 0;
    }

    &--home {
        position: fixed;
        bottom: 0;
        z-index: 8;
        opacity: 0;
        @include transition(all 500ms);
        transform: translateY(120px);

        &.is-showing {
            transform: translateY(0);
            opacity: 1;
        }

        .footer__content {
            border-color: rgba(white,0.35);
        }

        .footer__left a {
            color: white;
        }

        .footer__thanks {
            color: rgba(white,0.75);
        }

        .footer__logo {
            background-image: url(../img/footer-logo.svg);
        }
    }

    @include media($mobile-lg) {
        padding-top: 75px;
        
        &__left {
            float: none;
            text-align: center;
        }

        &__right {
            display: none;
        }
    }
}