html {
    height: 100%;
    font-size: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100%;
    font-size: 16px;
    font-family: 'Raleway', Helvetica, 'Segoe UI', sans-serif;
    color: $dark-gray;
    background: white;
}

p {
    line-height: 1.35em;
}

a {
    color: $light-gray;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

::selection {
    background: rgba($orange,0.75);
    color: white;
}
::-moz-selection {
    background: rgba($orange,0.75);
    color: white;
}

.main-content {
    padding-top: 175px;

    @include media($desktop-sm) {
        padding-top: 120px;
    }
}

.old-browser {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    background: $dark-gray;
    display: none;

    &__inner {
        width: 340px;
        height: 70px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -35px;
        margin-left: -170px;
        text-align: center;

        p {
            color: white;

            strong {
                font-size: 1.5em;
            }
        }

        a {
            color: $orange;
            font-weight: 600;
            text-decoration: underline;
        }
    }
}

.no-video {
    overflow: hidden;

    .old-browser {
        display: block;
    }
}