.header {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 12;

    &__top {
        background: white;
        padding: 12px 45px 9px 45px;
        position: relative;
        z-index: 9;

        @include media($desktop-sm) {
            padding: 12px 25px 9px 25px;
        }
    }

    &__logo {
        width: 360px;
        display: inline-block;
        height: 46px;
        background: url(../img/header-logo.svg) no-repeat 0% 50%;
        position: relative;

        &:after {
            content: 'Cursos online';
            display: inline-block;
            float: right;
            position: relative;
            top: 10px;
            background: $orange;
            padding: 5px 9px;
            color: white;
            font-weight: 700;
            font-size: 0.7em;
            text-transform: uppercase;
            letter-spacing: 0.13em;
        }

        @include media($mobile) {
            width: 180px;
            background-size: 180px 23px;
            background-position: 0px 4px;

            &:after {
                padding: 3px 6px;
                font-size: 0.6em;
                top: 29px;
            }
        }
    }

    &__topnav {
        float: right;
        @include clearfix;

        @include media($desktop-sm) {
            display: none;
        }
    }

    &__nav-trigger {
        display: none;
        width: 71px;
        height: 71px;
        line-height: 71px;
        font-size: 1.3em;
        text-align: center;
        @include position(absolute, 0 0 auto auto);
        outline: 0;
        background: transparent;
        padding: 0;
        border: 0;
        z-index: 11;

        &:before {
            @extend .ti;
            @extend .ti-menu;
            line-height: 71px;
            text-align: center;
        }

        @include media($desktop-sm) {
            display: inline-block;
        }
    }

    &__categories {
        position: relative;
        z-index: 8;
        @include transition(all 350ms);

        ul {
            background: rgba(black,0.55);
            text-align: center;
        }

        li {
            display: inline-block;

            &.active {
                background-color: rgba(black,0.3);
            }
        }

        a {
            height: 60px;
            line-height: 60px;
            display: block;
            font-size: 1em;
            letter-spacing: 0.05em;
            padding: 0 19px;
            color: white;
            outline: 0;
            @include transition(all 250ms);

            &:hover, &:focus {
                background-color: rgba(black,0.3);
            }

            /*@media screen and (max-width: 1250px) {
                font-size: 0.9em;
            }*/

            /*@media screen and (max-width: 1120px) {
                font-size: 0.8em;
            }*/
        }

        @include media($desktop-sm) {
            display: none;
        }

        &.is-hidden {
            transform: translateY(-100%);
        }
    }
}

.top-nav {
    &__link {
        display: inline-block;
        height: 46px;
        line-height: 46px;

        a {
            display: block;
            text-transform: uppercase;
            font-size: 0.8em;
            color: $dark-gray;
            letter-spacing: 0.08em;
            padding-right: 28px;
            outline: 0;
            @include transition(all 250ms);

            &:hover, &:focus {
                color: $orange;
            }
        }

        &:last-child a {
            padding-right: 0;
        }
    }

    &__search {
        display: inline-block;
        height: 46px;
        line-height: 46px;
        padding-right: 16px;
        margin-right: 24px;
        border-right: 1px solid $gray-border;
        position: relative;

        &:before {
            @extend .ti;
            @extend .ti-search;
            display: inline-block;
            color: $light-gray;
            font-size: 1.1em;
            position: relative;
            top: 1px;
        }
    }
}

.search-form {
    display: inline;
}

.search-input {
    width: 100%;
    max-width: 160px;
    border: 0;
    outline: 0;
    padding: 10px 0 10px 10px;
    @include transition(all 350ms);

    &.has-content {
        max-width: 205px;
        padding-right: 45px;
    }
}

.search-submit {
    width: 32px;
    height: 32px;
    line-height: 32px;
    background: $orange;
    color: white;
    border: 0;
    padding: 0;
    position: absolute;
    right: 0px;
    top: 6px;
    outline: 0;
    opacity: 0;
    @include transition(all 250ms);

    &.is-showing {
        opacity: 1;
    }

    &:hover, &:focus {
        background-color: darken($orange,10);
    }
}

.mobile-nav {
    width: 100%;
    height: 100%;
    @include position(fixed, 0 auto auto 0);
    transform: translateY(-100%);
    transition: transform 1000ms $ease-out-quint;
    z-index: 11;
    background: $dark-gray;
    overflow: auto;

    &__search {
        margin-top: 71px;
        border-top: 1px solid $gray-border;
        background: white;
        position: relative;

        &:before {
            @extend .ti;
            @extend .ti-search;
            display: inline-block;
            color: $light-gray;
            font-size: 1.1em;
            line-height: 56px;
            position: absolute;
            left: 15px;
        }
    }

    &__categories {
        padding: 30px 10px;
        background: $orange;
        @include clearfix;

        @include media($mobile-sm) {
            padding: 20px 0;
        }

        li {
            float: left;
            width: 33.332%;

            @include media($tablet) {
                width: 50%;
            }

            @media screen and (max-width: 630px) {
                width: 100%;
                float: none;
            }
        }

        a {
            display: block;
            text-align: center;
            color: white;
            font-size: 1.2em;
            padding: 18px 30px;
            @include transition(all 250ms);

            &:hover, &:focus {
                color: black;
            }

            @media screen and (max-width: 570px) {
                font-size: 1.1em;
            }
        }
    }

    &__extra {
        padding: 15px 0;
        a {
            display: block;
            text-transform: uppercase;
            color: white;
            font-size: 0.9em;
            letter-spacing: 0.08em;
            padding-right: 28px;
            outline: 0;
            text-align: center;
            padding: 15px 30px;
            @include transition(all 250ms);

            &:hover, &:focus {
                color: $orange;
            }
        }
    }
}

.mobile-search-input {
    width: 100%;
    height: 56px;
    line-height: 56px;
    border: 0;
    outline: 0;
    padding: 0 45px 0 45px;
}

.mobile-search-submit {
    width: 32px;
    height: 32px;
    line-height: 32px;
    background: $orange;
    color: white;
    border: 0;
    border-radius: 50%;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 12px;
    outline: 0;
    @include transition(all 250ms);

    &:hover, &:focus {
        background-color: darken($orange,10);
    }
}

.nav-is-open {
    overflow: hidden;
    max-height: 100%;

    .header {
        position: fixed;
    }
    
    .header__nav-trigger {
        @extend .ti-close;
    }

    .mobile-nav {
        transform: translateY(0);
    }
}