.home-section {
    height: 100vh !important;
}

.featured {
    width: 100%;
    height: 100%;
    display: table;
    //@include position(absolute, 0 0 0 0);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    &:before {
        content: ' ';
        width: 100%;
        height: 100%;
        @include position(absolute, 0 0 0 0);
        z-index: 0;
        background: rgba(black,0.25);
    }

    &__container {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 0 45px;
        position: relative;
        top: 35px;
        z-index: 1;
    }

    &__title {
        max-width: 1024px;
        color: white;
        font-family: 'Merriweather', Georgia, sans-serif;
        font-size: 3.2em;
        font-weight: 700;
        margin: 0 auto 0.6em auto;

        @include media($desktop-sm) {
            font-size: 2.9em;
        }

        @include media($tablet) {
            font-size: 2.6em;
        }

        @include media($mobile) {
            font-size: 2.2em;
        }
    }
}

.home-slider {
    width: 100%;
    height: 100%;

    .slick-list, .slick-track {
        width: 100%;
        height: 100%;
    }

    .slick-slide {
        position: relative;
    }
}

.home {
    .header {
        position: fixed;
    }

    .header__categories a {
        height: 100px;
        line-height: 100px;
        display: block;
    }
}