@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -12px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -5px, 0);
  }

  90% {
    transform: translate3d(0,-2px,0);
  }
}

.l-header {
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    text-align: center;

    @include media($tablet) {
        position: absolute;
    }

    &__logo {
        display: inline-block;
        background: white;
        padding: 7px 20px 4px 20px;
        border-radius: 0 0 2px 2px;

        span {
            @extend .header__logo;

            @include media($mobile){
                top: -2px;
            }

            @include media($mobile-sm){
                top: -2px;
            }
        }
    }

    &__login {
        position: absolute;
        right: 20px;
        top: 25px;
        color: white;
        font-weight: 600;
        font-size: 0.888em;
        text-transform: uppercase;
        outline: 0;
        @include transition(all 250ms);

        span {
            opacity: 0.7;
            padding-right: 5px;
            color: white !important;
        }

        i {
            @extend .ti;
            @extend .ti-angle-right;
            font-size: 0.75em;
            padding-left: 2px;
            -webkit-text-stroke: 1px white;
        }

        &:hover, &:focus {
            color: $orange;

            i {
                color: $orange;
                -webkit-text-stroke-color: $orange;
            }
        }
    }


    @include media($desktop-sm) {
        text-align: left;

        &__logo {
            border-radius: 0 0 2px 0;
        }
    }

    @include media($tablet) {
        text-align: center;

        &__logo {
            border-radius: 0 0 2px 2px;
            clear: both;
        }

        &__login {
            display: block;
            position: relative;
            top: auto;
            right: auto;
            padding: 20px;
            font-size: 0.8em;
        }
    }

    @include media($mobile){
        &__login {
            padding: 15px;
        }
    }
}

.home-slider--landing {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.home-composite {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(1.1);
    @include transition(2500ms $ease-out-quad);

    span {
        width: 25%;
        height: 33.332%;
        float: left;
        background: black;
        background-position: 50% 50%;
        background-size: cover;
        //opacity: 0;

        &.pic-1 {
            background-image: url(../img/landing/composite/1.jpg);
        }
        &.pic-2 {
            background-image: url(../img/landing/composite/2.jpg);
        }
        &.pic-3 {
            background-image: url(../img/landing/composite/3.jpg);
        }
        &.pic-4 {
            background-image: url(../img/landing/composite/4.jpg);
        }
        &.pic-5 {
            background-image: url(../img/landing/composite/5.jpg);
        }
        &.pic-6 {
            background-image: url(../img/landing/composite/6.jpg);
        }
        &.pic-7 {
            background-image: url(../img/landing/composite/7.jpg);
        }
        &.pic-8 {
            background-image: url(../img/landing/composite/8.jpg);
        }
        &.pic-9 {
            background-image: url(../img/landing/composite/9.jpg);
        }
        &.pic-10 {
            background-image: url(../img/landing/composite/10.jpg);
        }
        &.pic-11 {
            background-image: url(../img/landing/composite/11.jpg);
        }
        &.pic-12 {
            background-image: url(../img/landing/composite/12.jpg);
        }

        @media screen and (max-width: 1150px) {
            width: 33.332%;

            &.tablet-hide {
                display: none !important;
                background: transparent !important;
            }
        }

        @media screen and (max-width: 900px) {
            width: 50%;

            &.mobile-hide {
                display: none !important;
                background: transparent !important;
            }
        }
    }
}

.l-main {
    position: relative;
    height: 100vh;
    background: black;
    overflow: hidden;

    &__content {
        position: relative;
        z-index: 1;

        &--offset {
            @media screen and (max-height: 520px) {
                position: relative;
                top: -10px;
            }
        }
    }

    &__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;

        span {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-position: 50% 50%;
            background-size: cover;
            opacity: 0;
            transform: scale(1.1);
            @include transition(2500ms $ease-out-quad);
            
            &.slide-2 {
                background-image: url(../img/landing/landing-slide-2.jpg);
            }

            &.slide-3 {
                background-color: $dark-gray;
            }

            &.slide-4 {
                background-image: url(../img/landing/landing-slide-5.jpg);
            }
        }

        &--solid {
            background-color: $orange;
        }
    }

    &__heading {
        color: white;
        font-family: 'Merriweather', Georgia, sans-serif;
        font-size: 3.5em;
        font-weight: 300;
        margin: 0 auto;
        padding: 0 0 30px 0;
        text-align: center;
        max-width: 800px;
        position: relative;

        strong {
            font-weight: 700;
            font-style: italic;
        }

        @include media($desktop-lg) {
            font-size: 3.2em;
            max-width: 700px;
        }

        @include media($desktop-sm) {
            font-size: 3em;
        }

        @include media($tablet) {
            font-size: 2.5em;
            max-width: 600px;
            padding: 0 40px;
        }
        
        @media screen and (max-width: 650px) {
            font-size: 2.1em;
            max-width: 560px;
            padding-bottom: 30px;
        }

        @include media($mobile) {
            font-size: 1.8em;
        }

        @media screen and (max-height: 500px) {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            font-size: 1.4em;
        }
    }

    &__sheading {
        @extend .l-main__heading;
        font-weight: 700;
        padding: 0 30px !important;
        margin-bottom: 20px !important;

        @include media($desktop-sm) {
            br {
                display: none;
            }
        }
    }

    &__text {
        margin: 0 auto;
        max-width: 767px;
        color: white;
        font-size: 1.2em;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;

        @include media($tablet) {
            font-size: 1.1em;
        }

        @include media($mobile) {
            font-size: 1em;
        }
    }

    &__actions {
        margin-top: 30px;
        text-align: center;
        position: relative;

        div {
            display: inline-block;
            vertical-align: top;
            margin: 0 5px;
        }

        .play {
            position: relative;
            top: -1px;
        }

        @media screen and (max-width: 650px) {
            max-width: 300px;
            margin: 30px auto 0 auto;

            div {
                display: block;
                margin: 10px 0 0 0;
            }

            .btn {
                display: block;
                width: 100%;
            }
        }
    }

    &__scroll {
        display: block;
        width: 100%;
        z-index: 2;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 1.2em;
        letter-spacing: 0.05em;
        background: rgba($orange,0.75);
        padding: 30px 0;
        @include transition(all 350ms);

        i {
            -webkit-text-stroke: 1px white;
            font-size: 0.9em;
            margin-left: 5px;
            position: relative;
            animation-name: bounce;
            transform-origin: center bottom;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
        }

        &:hover {
            background-color: rgba($orange, 1);
        }

        @include media($mobile) {
            padding: 20px 0;
            font-size: 0.9em;
        }

        @media screen and (max-height: 500px) {
            padding: 20px 0;
            font-size: 0.9em;
        }

        &--subtle {
            padding: 15px 0;
            background: transparent !important;
            font-size: 2.5em !important;

            @include media($tablet) {
                font-size: 2em !important;
            }

            @include media($mobile) {
                display: none;
            }
        }
    }

    &__contact {
        @extend .l-main__scroll;
        background: rgba(0,0,0,0.3);
        padding: 20px 0;
        font-size: 0.9em;

        &:hover {
            background-color: rgba(0,0,0,0.5);
        }

        @media screen and (max-height: 520px) {
            font-size: 0.9em;
            padding: 15px 0;
            font-size: 0.8em;
        }
    }

    &__cta {
        color: white;
        text-align: center;

        .promo-price {
            border: 0px;
        }
    }

    &.active {
        .home-composite {
            transform: scale(1);
            opacity: 0.5;
        }

        .l-main__bg span {
            transform: scale(1);
            opacity: 0.6;
        }
    }

    &__list {
        max-width: 760px;
        color: white;
        margin: 0 auto 10px auto;
        text-align: center;
        padding: 0 30px;
        font-size: 1.25em;

        li {
            padding-bottom: 10px;
            
            &.tablet-only {
                display: none;
            }

            @include media($tablet){
                &.tablet {
                    display: none;
                }

                &.tablet-only {
                    display: block;
                }
            }

            @include media($mobile){
                &.mobile {
                    display: none;
                }
            }
        }

        @include media($tablet){
            font-size: 1.1em;
        }

        @include media($mobile){
            font-size: 1em;
        }

        @media screen and (max-height: 520px) {
            font-size: 0.9em;
        }
    }

    &__categories {
        max-width: 1100px;
        padding: 0 30px;
        margin: 0 auto;
        text-align: center;

        li {
            width: 180px;
            height: 140px;
            display: inline-block;
            padding: 30px 20px;

            span {
                width: 100px;
                height: 100px;
                display: inline-block;
                border-radius: 50px;
                background: white;

                img {
                    width: 58px;
                    height: auto;
                    display: inline-block;
                    position: relative;
                    top: 20px;

                    &.categories-pic-1 {
                        width: 52px;
                        top: 23px;
                    }

                    &.categories-pic-2 {
                        top: 22px;
                    }

                    &.categories-pic-4 {
                        width: 52px;
                        top: 24px;
                        left: 2px;
                    }

                    &.categories-pic-5 {
                        width: 74px;
                        top: 14px;
                    }
                }
            }

            p {
                color: white;
            }

            @media screen and (max-width: 650px) {
                span {
                    width: 80px;
                    height: 80px;
                    border-radius: 40px;

                    img {
                        width: 42px;

                        &.categories-pic-1 {
                            width: 42px;
                        }

                        &.categories-pic-2 {
                            width: 42px;
                        }

                        &.categories-pic-4 {
                            width: 42px;
                        }

                        &.categories-pic-5 {
                            width: 42px;
                        }
                    }
                }

                p {
                    font-size: 0.9em;
                    font-weight: bold;
                }
            }

            @include media($mobile) {
                span {
                    width: 64px;
                    height: 64px;
                    border-radius: 32px;

                    img {
                        width: 32px;

                        &.categories-pic-1 {
                            width: 32px;
                            top: 17px;
                        }

                        &.categories-pic-2 {
                            width: 36px;
                            top: 16px;
                            left: 1px;
                        }

                        &.categories-pic-3 {
                            width: 36px;
                            top: 14px;
                            left: 1px;
                        }

                        &.categories-pic-4 {
                            width: 32px;
                            top: 16px;
                        }

                        &.categories-pic-5 {
                            width: 52px;
                            top: 7px;
                        }
                    }
                }
            }

        }

        @include media($desktop-sm) {
            max-width: 620px;
        }

        @media screen and (max-width: 650px) {

            li {
                width: 130px;
                padding: 30px 0;
            }
        }

        @include media($mobile) {
            @include clearfix;
            position: relative;
            top: 20px;
            
            li {
                width: 33.332%;
                padding: 0;
                float: left;
                margin-bottom: 20px;

                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.promo-price {
    color: white;
    opacity: 0;
    font-weight: 600;
    font-size: 0.9em;
    text-transform: uppercase;
    margin-bottom: 0px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 2px;
    padding: 5px 0;
    @include transition(opacity 500ms);

    @media screen and (max-height: 400px) {
        display: none;
    }
}

.footer--landing {
    color: white;
    position: absolute;
    bottom: 0px;
    border: 0px;
    text-align: center;

    .footer__content {
        border-color: rgba(255,255,255,0.25);

        @include media($mobile){
            padding: 15px 0;
        }
    }

    .footer__left {
        float: none;
    }

    a, button {
        display: inline-block;
        color: white;

        &:hover {
            color: white !important;
        }
        
        &:first-child {
            margin-right: 20px;
        }

        @include media($mobile-sm) {
            display: block;
            margin: 0 !important;
        }
    }
}

.l-dots {
    position: fixed;
    z-index: 11;
    left: 20px;
    top: 50%;
    margin-top: -56px;

    a {
        width: 16px;
        height: 16px;
        border: 2px solid white;
        border-radius: 8px;
        background: transparent;
        display: block;
        @include transition(all 350ms);
    }

    li {
        display: block;
        margin-bottom: 8px;

        &.active a {
            background-color: white;
        }
    }

    @include media($tablet) {
        display: none;
    }
}

.l-text-rotator {
    text-align: center;
    font-size: 2em;
    color: white;
    opacity: 0.7;
    font-weight: 300;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 50px 55px 50px;

    @include media($desktop-sm) {
        font-size: 1.75em;
        padding: 15px 40px 50px 40px;
    }

    @include media($tablet) {
        font-size: 1.5em;

        padding: 10px 30px 40px 30px;
    }

    @include media($mobile) {
        font-size: 1.25em;
    }
}

.morphist > * {
    display: none;
}

.morphist > .animated {
    display: inline-block;
}

.animated {
  animation-duration: 0.75s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(25px);
  }
}

.fadeOutDown {
  animation-name: fadeOutDown;
}

/*
.l-main-centering {
    position: relative;
    top: 52%;
    transform: translateY(-50%);
    z-index: 2;

    @media screen and (max-height: 780px) {
        top: 55%;
    }

    @media screen and (max-height: 500px) {
        top: 61%;
    }
}

.l-more {
    background: white;
    position: relative;
    z-index: 2;
    padding: 50px 0;

    &__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 40px;
        @include clearfix;

        @include media($tablet) {
            padding: 0 20px;
        }
    }

    &__grid {
        @include span-columns(4);

        @include media($tablet) {
            display: block;
            width: 100%;
            float: none;
            max-width: 500px;
            margin: 0 auto 20px auto;
        }
    }

    &__cta {
        background: $orange;
        color: white;
        margin-top: 80px;
        padding: 50px 20px;
        text-align: center;

        h2 {
            margin: 0 0 25px 0;
        }
    }
}

.l-item {
    &__pic {
        display: block;
        background: black;
        position: relative;

        &:before {
            content: ' ';
            display: inline-block;
            height: 0;
            width: 0;
            border-bottom: 18px solid transparent;
            border-left: 24px solid #fff;
            border-top: 18px solid transparent;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -18px;
            margin-left: -10px;
            z-index: 10;
            @include transition(all 350ms);
        }

        img {
            width: 100%;
            height: auto;
            opacity: 0.8;
            display: block;
            @include transition(all 350ms);
        }
    }

    &__content {
        padding: 30px;
        border: 1px solid $gray-border;
        border-top: 0;

        h2 {
            margin-top: 0px;
        }
    }
}

.l-item__pic:hover {
    &:before {
        transform: scale(1.3);
    }

    img {
        opacity: 0.5;
    }
}

.landing {
    .footer {
        padding-top: 50px;
        position: relative;
        background: white;
    }

    .featherlight-close-icon {
        position: fixed;
        top: 0px;
        right: 0px;
        color: white;
        width: 70px;
        line-height: 70px;
        font-size: 50px;
        background: transparent !important;
    }

    .featherlight:last-of-type {
        background: rgba(0,0,0,0.95);
    }
}

.l-lightbox {
    &__container {
        width: 800px;
        margin: 0 auto;

        @media screen and (max-width: 900px) {
            width: 90vw;
        }
    }

    &__video {
        width: 100%;
        padding-top: 56.25%;
        position: relative;

        iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__actions {
        text-align: center;
        padding: 30px 0;

        p {
            margin: 0;
            padding: 30px 0 15px 0;
        }
    }
}*/