.lesson-grid {
    @include clearfix;
    max-width: 1380px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 0 30px;

    &--more {
        margin-top: 125px;

        @include media ($desktop-sm) {
            .lesson-thumb:nth-child(3) {
                display: none;
            }
        }
    }

    .lesson-thumb {
        width: 33.332%;
        float: left;
        margin-bottom: 60px;

        @include media($desktop-sm) {
            width: 50%;
        }

        @include media($tablet) {
            width: 100%;
            float: none;
        }


        &:last-child {
            margin-bottom: 0;
        }
    }

    &__heading {
        position: relative;
        padding: 0 15px;
        margin-bottom: 50px;

        p {
            font-size: 1.1em;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            margin: 0;
        }

        .btn {
            position: absolute;
            top: -4px;
            right: 15px;
        }

        @include media ($tablet) {
            text-align: center;

            p {
                margin-bottom: 15px;
                padding: 0 20px;
            }

            .btn {
                position: relative;
                top: auto;
                right: auto;
            }
        }
    }

    @include media($tablet) {
        max-width: 500px;
    }

    @include media($mobile) {
        padding: 0;
    }
}

.lesson-thumb {
    display: inline-block;
    text-align: center;
    padding: 0 15px;

    &__name {
        font-family: 'Merriweather', Georgia, sans-serif;
        -webkit-font-smoothing: subpixel-antialiased;
        font-size: 1.1em;
        font-weight: 500;
        margin: 1.5em 0 0 0;
        letter-spacing: 0.02em;
        color: $dark-gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 1.35em;
    }

    &__pic {
        width: 100%;
        height: 250px;
        background-color: $dark-gray;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        position: relative;

        @include media($desktop-lg) {
            height: 210px;
        }
    }

    &__hover {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba($dark-gray, 0.8);
        opacity: 0;
        transform: scale(0.9) translate3d(0, 0, 0);
        transition: all 350ms $ease-out-quad;

        .btn {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &:hover {
        .lesson-thumb__hover {
            opacity: 1;
            transform: scale(1) translate3d(0, 0, 0);
        }
    }
}


.lesson {
    position: relative;

    &__main {
        max-width: 1170px;
        margin: 0 auto;
        @include clearfix;

        @include media($desktop-lg) {
            max-width: 1023px;
        }

        @include media($desktop-sm) {
            max-width: 700px;
        }

        @include media($tablet) {
            margin: 0 15px;
        }
    }

    &__video {
        @include span-columns(8);
    }

    &__instructions {
        @include span-columns(4);
    }

    @include media($desktop-sm) {
        &__video, &__instructions {
            @include span-columns(12);
        }
    }

    &__heading {
        margin-top: 100px;
        text-align: center;
        position: relative;
        z-index: 1;

        @include media($desktop-sm) {
            margin-top: 75px;
        }

        @include media($tablet) {
            margin-top: 50px;
        }

        &__pic {
            @extend .lesson-thumb__pic;
            width: 540px;
            height: 320px;
            margin: 50px auto 0 auto;

            @include media($tablet) {
                width: 450px;
                height: 260px;
            }

            @include media($mobile) {
                width: 100%;
                height: 240px;
            }

            @include media($mobile-sm) {
                height: 200px;
            }
        }
    }

    &__category {
        color: $light-gray;
        font-size: 1.1em;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin: 0 0 10px 0;

        @include media($mobile) {
            font-size: 1em;
        }
    }

    &__title {
        font-family: 'Merriweather', Georgia, sans-serif;
        -webkit-font-smoothing: subpixel-antialiased;
        font-size: 2.5em;
        letter-spacing: 0.02em;
        margin: 0;
        padding: 0 30px;

        @include media($desktop-sm) {
            font-size: 2.3em;
        }

        @include media($tablet) {
            font-size: 2em;
        }

        @include media($mobile) {
            font-size: 1.5em;
        }
    }

    &__text {
        max-width: 800px;
        padding: 0 30px;
        margin: 75px auto 0 auto;

        p {
            font-family: 'Merriweather', Georgia, sans-serif;
            -webkit-font-smoothing: subpixel-antialiased;
            font-size: 1.05em;
            line-height: 1.5em;
            margin: 0 0 25px 0;

            &:last-child {
                margin-bottom: 0;
            }
        }

        @include media($tablet) {
            margin-top: 50px;
        }

        @include media($mobile) {
            padding: 0 20px;
        }
    }
}

.lesson-player {
    width: 100%;
    opacity: 0;

    &.video-js {
        padding-top: 56.25%;
    }

    &.vjs-fullscreen {
        padding-top: 0px;
    }

    &.vjs-controls-enabled {
        opacity: 1 !important;
    }
}

.instructions {
    max-height: 433px;
    overflow: auto;
    background: #F5F5F4;
    border: 1px solid $gray-border;
    padding: 30px;
    line-height: 1.5em;
    
    &__title {
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin: 0 0 20px 0;
    }

    ul {
        margin: 0 0 30px 0;
        list-style: disc;
        list-style-position: inside;
    }

    p, ul {
        font-size: 0.9em;
        font-family: 'Merriweather', Georgia, sans-serif;
        -webkit-font-smoothing: subpixel-antialiased;
        line-height: 1.5em;
    }

    a {
        color: $dark-gray;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }

    p:last-child {
        margin-bottom: 0;
    }

    @include media($desktop-lg) {
        max-height: 379px;
    }

    @include media($desktop-sm) {
        max-height: 250px;
        margin-top: 20px;
    }
}

.secret {
    padding-top: 15px;

    &__heading {
        background: $orange;
        color: white;
        font-size: 0.9em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding: 18px 35px;
    }

    &__content {
        padding: 22px 35px;
        background: darken($orange,6);
        color: white;
        font-style: italic;
        font-size: 1em !important;
        line-height: 1.5em !important;
        letter-spacing: 0.02em;
    }
}