.login {
    background: $dark-gray url(../img/login-bg.jpg) no-repeat 100% 0%;
    background-size: cover;
    display: table;
    width: 100%;
    height: 100%;

    &__container {
        display: table-cell;
        vertical-align: middle;
    }

    &__form {
        max-width: 400px;
        padding: 30px;
        margin: 0 auto;
        background: white;
        text-align: center;

        .btn {
            width: 100%;
            display: block;
        }
    }

    &__logo {
        width: 310px;
        display: inline-block;
        height: 46px;
        background: url(../img/header-logo.svg) no-repeat 50% 50%;
        position: relative;
        top: -10px;
        margin-bottom: 40px;

        &:after {
            content: 'Cursos Online';
            display: inline-block;
            position: relative;
            top: 42px;
            background: $orange;
            padding: 5px 9px;
            color: white;
            font-weight: 700;
            font-size: 0.6em;
            text-transform: uppercase;
            letter-spacing: 0.13em;
        }
    }

    &__input {
        margin-bottom: 10px;
        position: relative;

        i {
            font-size: 1.2em;
            color: $light-gray;
            position: absolute;
            right: 16px;
            top: 16px;
        }

        input {
            width: 100%;
            border: 1px solid $gray-border;
            padding: 15px 42px 15px 15px;
            outline: 0;
            border-radius: 2px;
            @include transition(all 250ms);

            &:focus {
                border-color: $light-gray;
                box-shadow: 0px 0px 0px 1px $light-gray;
            }
        }
    }

    &__error {
        background: #DA2401;
        border-radius: 2px;
        padding: 6px 16px;
        font-size: 0.8em;
        color: white;
        margin-bottom: 10px;
        line-height: 1.4em;
    }

    &__message {
        @extend .login__error;
        background: lighten($dark-gray,10);
    }

    &__forgot {
        display: block;
        margin: 0;
        padding-top: 15px;
        font-size: 0.9em;
        @include transition(350ms);

        &:hover {
            color: $dark-gray;
        }
    }

    &__text {
        margin: 0 0 29px 0;
        font-size: 0.9em;
    }
}