.sheading {
    text-align: center;
    padding: 35px 0 75px 0;

    @include media($mobile) {
        padding-top: 10px;
        padding-bottom: 50px;
    }

    &__count {
        color: $light-gray;
        font-size: 1.1em;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin: 0 0 10px 0;
    }

    &__query {
        font-family: 'Merriweather', Georgia, sans-serif;
        -webkit-font-smoothing: subpixel-antialiased;
        font-size: 2.5em;
        letter-spacing: 0.02em;
        margin: 0;
        padding: 0 30px;

        @include media($tablet) {
            font-size: 2.3em;
        }

        @include media($mobile) {
            font-size: 2em;
        }
    }

    &__nothing {
        max-width: 380px;
        padding: 50px 20px;
        margin: 50px auto;
        border: 2px dashed $gray-border;

        @include media($mobile) {
            margin: 50px 30px;
        }
            
        i {
            display: block;
            font-size: 4em;
            color: $gray-border;
            margin-bottom: 30px;
        }

        p {
            margin: 0;
        }
    }
}