.signup {
    background: $dark-gray url(../img/login-bg.jpg) no-repeat 50% 50% fixed;
    background-size: cover;

    .l-header {
        position: relative;
        text-align: center !important;
    }

    &__success {
        max-width: 510px;
        margin: 0 auto;
        text-align: center;
        background: white;
        padding: 40px;

        .ti-check-box, .ti-na {
            display: block;
            color: $gray-border;
            font-size: 5em;

            @include media($mobile) {
                font-size: 4em;
            }
        }

        p {
            font-size: 1.1em;
            line-height: 1.5em;
            margin: 30px 0;
        }

        @include media($mobile) {
            padding: 30px;
        }
    }

    &__container {
        max-width: 960px;
        margin: 0 auto;
        padding: 0 15px;
        @include clearfix;

        @include media($mobile) {
            padding: 0;
        }
    }

    &__subtitle {
        font-family: 'Merriweather', Georgia, sans-serif;
        font-size: 2.2em;
        margin: 0;
        padding: 75px 30px 70px 30px;
        font-weight: 500;
        text-align: center;
        color: white;

        @include media($tablet) {
            font-size: 2em;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        @include media($mobile) {
            font-size: 1.7em;
            padding-bottom: 35px;
        }
    }

    &__text {
        @include span-columns(5);
        font-family: 'Merriweather', Georgia, sans-serif;
        font-weight: 400;
        padding: 20px 40px;
        background: rgba(0,0,0,0.25);

        p {
            color: white;
            line-height: 1.4em;
            margin-bottom: 25px;
        }

        a {
            color: white;
            text-decoration: underline;
        }

        @include media($tablet) {
            @include span-columns(12);
            background: $dark-gray;
        }
    }

    &__form {
        @include span-columns(7);
        background: white;
        padding: 45px;
        margin-bottom: 50px;

        &-row {
            @include clearfix;
        }

        &-item {
            margin-bottom: 30px;

            label {
                display: block;
                color: $light-gray;
                margin: 0 0 10px 0;
                font-size: 0.888em;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0.07em;
                white-space: nowrap;
            }

            input {
                width: 100%;
                border: 1px solid $gray-border;
                padding: 10px 15px;
                outline: 0;
                @include transition(all 250ms);

                &:focus {
                    border-color: $orange;
                    box-shadow: 0px 0px 0px 1px $orange;
                }
            }

            select {
                width: 100%;
                font-size: 18px;
                padding: 3px 0;
            }


            &--half {
                @include span-columns(6);

                &:first-child {
                    padding-right: 8px;
                }

                &:last-child {
                    padding-left: 8px;
                }
    
                @include media($tablet) {
                    @include span-columns(12);
                    padding: 0 !important;
                }
            }
        }

        .btn--xl {
            width: 100%;
            font-weight: 500;

            @include media($mobile) {
                font-size: 1em;
            }

            @media screen and (max-width: 345px) {
                font-size: 0.9em;
            }
        }

        @include media($tablet) {
            @include span-columns(12);
        }

        @include media($mobile) {
            padding: 35px;
        }
    }

    &__terms {
        margin-bottom: 20px;
        
        input {
            font-size: 30px;
            margin-right: 10px;
        }

        label {
            font-size: 0.9em;
            color: $dark-gray;

            a {
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    &__payments {
        text-align: center;
        margin-top: 20px;

        span {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            color: #9C9796;
            margin-right: 10px;
            position: relative;
            top: -5px;

            @media screen and (max-width: 360px) {
                display: none;
            }
        }

        img:last-child {
            margin-left: 10px;
        }

    }
}


.js-sub-info {
    display: none;
}