<div class="account-popup">
	<div class="acsection">
        <div class="acsection__content">
            <div class="acsection__item">
                <p class="acsection__title">Contraseña anterior</p>
                <input type="password" class="acsection__input" autofocus>
            </div>
            <div class="acsection__item">
                <p class="acsection__title">Nueva contraseña</p>
                <input type="password" class="acsection__input" autofocus>
            </div>
            <div class="acsection__item">
                <p class="acsection__title">Nueva contraseña <small>(repetir)</small></p>
                <input type="password" class="acsection__input" autofocus>
            </div>
            <a href="lesson.html" class="btn btn--lg btn--main" style="margin-bottom: 10px;">Confirmar</a>
            <a href="lesson.html" class="btn btn--sm btn--alt js-featherlight-close">Cancelar</a>
        </div>
    </div>
</div>