<div class="account-popup">
	<div class="acsection">
        <div class="acsection__content">
            <div class="acsection__item">
                <p class="acsection__title">¿Estás seguro?</p>
                <p class="acsection__info">Al cancelar tu subscripción, tu cuenta se eliminará y no podrás acceder a ninguno de los videos de Moira Patissiere Premium.</p>
            </div>

            <a href="lesson.html" class="btn btn--lg btn--alt js-featherlight-close" style="margin-bottom: 10px;">No quiero cancelar</a>
            <a href="lesson.html" class="btn btn--sm btn--warning">Cancelar subscripción</a>
        </div>
    </div>
</div>