<div class="account-popup">
	<div class="acsection">
        <div class="acsection__content">
            <p>Por cualquier problema técnico o consulta respecto al funcionamiento de Cursos Online, por favor escríbenos a <a href="mailto:info@moirapatissiere.com"><strong>info@moirapatissiere.com</strong></a></p>
            <br>
            <a href="lesson.html" class="btn btn--sm btn--alt js-featherlight-close">Cerrar</a>
        </div>
    </div>
</div>