<div class="l-lightbox">
    <div class="l-lightbox__container">
        <div class="l-lightbox__video">
            <iframe src="https://www.youtube.com/embed/NsV0m8ywu4s?autoplay=1" frameborder="0" allowfullscreen></iframe>
        </div>
        
        <div class="l-lightbox__actions">
            <a href="signup.html" class="btn btn--xl btn--main">Suscríbete ahora</a>
        </div>
    </div>
</div>