<div class="account-popup account-popup--terms">
	<div class="acsection">
        <div class="acsection__content">
            <h2>Términos y condiciones</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur autem sint maxime, eius eligendi? Possimus sunt veniam voluptatibus perspiciatis, excepturi molestias expedita adipisci? Tempore dolores doloremque voluptates unde rem harum?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium nam nobis ipsum a eligendi cumque necessitatibus, error id excepturi sit tempore ipsa enim incidunt dolores nostrum tenetur nemo at iste. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates vero velit eum! A nihil provident fugit atque doloremque quam quia delectus totam. Autem officia vero excepturi fugiat illum labore eum.</p>
        </div>
    </div>
</div>