@import "neat/neat-helpers";

$gutter: 2.5em;
$grid-columns: 12;

// Define your breakpoints
$mobile-sm: new-breakpoint(max-width 380px);
$mobile: new-breakpoint(max-width 480px);
$mobile-lg: new-breakpoint(max-width 580px);
$tablet: new-breakpoint(max-width 768px);
$desktop-sm: new-breakpoint(max-width 1023px);
$desktop-lg: new-breakpoint(max-width 1199px);

$laptop-height: new-breakpoint(max-height 700px);